.topbar {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 40px;
  z-index: 999;
}

.switch {
  /* bottom: 40; */
  margin-bottom: 40px;
}

.topRight p {
  margin-bottom: 30px;
  margin-right: 500px;
  text-align: center;
}

.topRightNumber h1 {
 font-size: 12px;
 margin-top: 50px;
}


.toptext {
  text-align: center;
  right: "70px";
  font-size: "50px";
  color: red;
}

.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: "700";
  font-size: 30px;
  color: black;
  cursor: pointer;
  margin-bottom: 20px;
  bottom: 20px;
}

.topLeft .logo p {
  font-size: 3px;
  bottom: 20px;
}

.logo1 {
  font-weight: bold;
  font-size: 30px;
  color: red;
  /* cursor: pointer; */
  right: 120;
}

.topRight {
  display: flex;
  align-items: center;
}

.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: #555;
  margin-bottom: 30px;
}

.topIconBadge {
  width: 15px;
  height: 15px;
  position: absolute;
  top: -5px;
  right: 0px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.topAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 40px;
}

.supportButton {
  margin-top: 50px;
  /* margin-left: 120px; */
}

.totalButton {
  margin-top: 5px;
}
