.sidebar {
    /* flex: 1;
    height: calc(100vh - 50px); 
    /* width: 20%; */
    background-color: white;
    position: sticky;
    /* top: 90px; */
    width:250px;
    margin-bottom: 90px;
    height: calc(100vh - 0px);
  }
  
  .sidebarWrapper {
    padding: 40px;
    color: #D0D0D0;
    /* margin-bottom: 40px; */
  }
  
  .sidebarMenu {
    margin-bottom: 0px;
  }
  
  .sidebarTitle {
    font-size: 13px;
    font-weight: 500;
    color: rgb(187, 186, 186);
    margin-bottom: 10px;
  }
  
  .sidebarList {
    list-style: none;
    padding: 5px;
    font-size: 13px;
    font-weight: 400;
  }
  
  .sidebarListItem {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  
  .sidebarListItem.active,
  .sidebarListItem:hover {
    background-color: rgb(240, 240, 255);
  }
  
  .sidebarIcon{
      margin-right: 5px;
      font-size: 20px !important;
  }